{% extends "base.html" %}
{% block page_header %}
{% endblock %}
{% block content %}
{% include 'home/includes/sale.html' %}
{% include 'home/includes/new-arrivals.html' %}
<div class="row mx-5">
    <div class="col-12 my-5">
        <img class = "img-fluid img-cover" src="{{ MEDIA_URL }}media-banner.jpeg" alt="Sale Banner">
    </div>
</div>
{% include 'home/includes/newsletter.html' %}
<div class="row mx-5">
    <div class="col-6 my-5">
        <a href="{% url 'products' %}?category=guitars">
            <button type="submit" class="btn btn-light rounded-pill">Guitars</button>
        </a>
    </div>
    <div class="col-6 my-5">
        <a href="{% url 'products' %}?category=basses">
            <button type="submit" class="btn btn-light rounded-pill">Basses</button>
        </a>
    </div>
    <div class="col-6 my-5">
        <a href="{% url 'products' %}?category=amps">
            <button type="submit" class="btn btn-light rounded-pill">Amps</button>
        </a>
    </div>
    <div class="col-6 my-5">
        <a href="{% url 'products' %}?category=effects">
            <button type="submit" class="btn btn-light rounded-pill">Effects</button>
        </a>
    </div>
</div>
{% endblock %}




