html {
    height: 100%;
}

body {
    background: url('/media/website-background.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Koulen', cursive;
}


/* navbar*/

.container {
    margin: 20px;
}

header {
    margin-top: 15px;
    margin-bottom: 20px;
}

.web-header {
    width: 90%;
}

.header-logo {
    height: 12vh;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 25px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
  
.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
}

.center-logo{
   
    text-align: center;
    
    
    display: inline-flex;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.home {
    size: 10px;
}

.icon-nav {
    padding-right: 2px;
    display: inline;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}



/* mobile nav  */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 40px;
    height: 40px;
}

.basket-mobile-icon {
    text-align: right!important;
    padding-right: 15px;
}

.navbar-collapse {
    margin-left: 10px;
}

.bag-mobile-icon{
    width: 100%;
    height: 100%;
}


/* delivery banner  */

hr {
    margin-top: 10px;
    margin-bottom: 0;
}

.delivery-offer{
    margin-left: 10px;
}

.worldwide-offer {
    margin-right: 10px;
}

/* homepage product cards */

.sale-title{
    background-color: rgba(195, 194, 194, 0.4);
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.product-card {
    background-color: rgba(195, 194, 194, 0.583);
}

.card {
    max-width: 540px;
    > .row {
        min-height: 200px;
    }
}

.card-image {
    width: 100%;
    height: 100%;
}

.card-body span{
    background-color: #e51400 !important;
    float: right;
}

.img-cover {
  object-fit: cover;
}

/* newsletter */
.newsletter-row {
    margin-left: 100px;
    margin-right: 100px;
}

.join-button {
    text-align: left;
}


/* products page */
.main-product-title {
    margin-bottom: 20px;
}

.main-product-row{
    padding-left: 100px;
    padding-right: 100px;
}


.buy-now-btn {
    margin-top: 20px;
}

/* shopping bag */

.totals-col, .bag-main-btns {
    
    text-align: right!important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 110px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Allauth form formatting */

.allauth-form-inner-content h1 {
 
    color: #ffffff; 
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #ffffff; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
    color: #ffffff;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.form-check {
    display: block;
    min-height: $form-check-min-height;
    padding-left: $form-check-padding-start;
    margin-bottom: $form-check-margin-bottom;
  
    .form-check-input {
      float: center;
      margin-left: $form-check-padding-start * -1;
    }
  }
  

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #0a58f4; /* text-info */
}


  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }

    }

/* center newsletter button on small screens */
  @media (max-width: 768px) {

    .join-button {
      text-align: center;
  }

  
     
  }

