<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}?category=guitars" id="">
                Guitars
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}?category=basses" id="">
                Basses
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}?category=amps" id="">
                Amps
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}?category=effects" id="">
                Effects
            </a>
        </li>
        <li class="nav-item">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="" class="logo-font font-weight-bold nav-link text-white mr-5">Product Management</a>
                {% endif %}
                    <a href="" class="logo-font font-weight-bold nav-link text-white mr-5">Profile</a>
                    <a href="{% url 'account_logout' %}" class="logo-font font-weight-bold nav-link text-white mr-5">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="logo-font font-weight-bold nav-link text-white mr-5">Register</a>
                    <a href="{% url 'account_login' %}" class="logo-font font-weight-bold nav-link text-white mr-5">Login</a>
            {% endif %}
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="">
                Contact Us
            </a>
        </li>
       
    </ul>
</div>