
{% block content %}
<div class="container-fluid header-container text-center">
    <div class="row mx-md-5 mx-sm-5">
        <div class="sale-title col-12 d-flex justify-content-center text-white">
            <h3 class= "title-text">Sale</h3>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="row mx-md-5 mx-sm-2">
        <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-3">
            <div class="card border-0 product-card" style="max-height: 380px; min-height: 200px;">
                <div class="card-image" style="text-align: center;">
                    {% if featured_product_1.image %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ featured_product_1.image.url }}"
                        alt="HI">
                    {% else %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                    {% endif %}
                </div>
                <div class="card-body align-text-bottom d-flex flex-column pb-0 text-center">
                    <p class="product-card-title">{{ featured_product_1.name }}</p>
                    <p class="product-price text-center">${{ featured_product_1.price }}</p>
                </div>
            </div>
        </div>
        <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-3">
            <div class="card border-0 product-card" style="max-height: 380px; min-height: 200px;">
                <div class="card-image" style="text-align: center;">
                    {% if featured_product_1.image %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ featured_product_2.image.url }}"
                        alt="HI">
                    {% else %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                    {% endif %}
                </div>
                <div class="card-body align-text-bottom d-flex flex-column pb-0 text-center">
                    <p class="product-card-title">{{ featured_product_2.name }}</p>
                    <p class="product-price text-center">${{ featured_product_2price }}</p>
                </div>
            </div>
        </div>
        <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-3">
            <div class="card border-0 product-card" style="max-height: 380px; min-height: 200px;">
                <div class="card-image" style="text-align: center;">
                    {% if featured_product_1.image %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ featured_product_3.image.url }}"
                        alt="HI">
                    {% else %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                    {% endif %}
                </div>
                <div class="card-body align-text-bottom d-flex flex-column pb-0 text-center">
                    <p class="product-card-title">{{ featured_product_3.name }}</p>
                    <p class="product-price text-center">${{ featured_product_3.price }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-3">
            <div class="card border-0 product-card" style="max-height: 380px; min-height: 200px;">
                <div class="card-image" style="text-align: center;">
                    {% if featured_product_1.image %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ featured_product_1.image.url }}"
                        alt="HI">
                    {% else %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                    {% endif %}
                </div>
                <div class="card-body align-text-bottom d-flex flex-column pb-0 text-center">
                    <p class="product-card-title">{{ featured_product_1.name }}</p>
                    <p class="product-price text-center">${{ featured_product_1.price }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-3">
            <div class="card border-0 product-card" style="max-height: 380px; min-height: 200px;">
                <div class="card-image" style="text-align: center;">
                    {% if featured_product_1.image %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ featured_product_2.image.url }}"
                        alt="HI">
                    {% else %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                    {% endif %}
                </div>
                <div class="card-body align-text-bottom d-flex flex-column pb-0 text-center">
                    <p class="product-card-title">{{ featured_product_2.name }}</p>
                    <p class="product-price text-center">${{ featured_product_2price }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-3">
            <div class="card border-0 product-card" style="max-height: 380px; min-height: 200px;">
                <div class="card-image" style="text-align: center;">
                    {% if featured_product_1.image %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ featured_product_3.image.url }}"
                        alt="HI">
                    {% else %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                    {% endif %}
                </div>
                <div class="card-body align-text-bottom d-flex flex-column pb-0 text-center">
                    <p class="product-card-title">{{ featured_product_3.name }}</p>
                    <p class="product-price text-center">${{ featured_product_3.price }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-3">
            <div class="card border-0 product-card" style="max-height: 380px; min-height: 200px;">
                <div class="card-image" style="text-align: center;">
                    {% if featured_product_1.image %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ featured_product_1.image.url }}"
                        alt="HI">
                    {% else %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                    {% endif %}
                </div>
                <div class="card-body align-text-bottom d-flex flex-column pb-0 text-center">
                    <p class="product-card-title">{{ featured_product_1.name }}</p>
                    <p class="product-price text-center">${{ featured_product_1.price }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-3">
            <div class="card border-0 product-card" style="max-height: 380px; min-height: 200px;">
                <div class="card-image" style="text-align: center;">
                    {% if featured_product_1.image %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ featured_product_2.image.url }}"
                        alt="HI">
                    {% else %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                    {% endif %}
                </div>
                <div class="card-body align-text-bottom d-flex flex-column pb-0 text-center">
                    <p class="product-card-title">{{ featured_product_2.name }}</p>
                    <p class="product-price text-center">${{ featured_product_2price }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-3">
            <div class="card border-0 product-card" style="max-height: 380px; min-height: 200px;">
                <div class="card-image" style="text-align: center;">
                    {% if featured_product_1.image %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ featured_product_3.image.url }}"
                        alt="HI">
                    {% else %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                    {% endif %}
                </div>
                <div class="card-body align-text-bottom d-flex flex-column pb-0 text-center">
                    <p class="product-card-title">{{ featured_product_3.name }}</p>
                    <p class="product-price text-center">${{ featured_product_3.price }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-3">
            <div class="card border-0 product-card" style="max-height: 380px; min-height: 200px;">
                <div class="card-image" style="text-align: center;">
                    {% if featured_product_1.image %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ featured_product_1.image.url }}"
                        alt="HI">
                    {% else %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                    {% endif %}
                </div>
                <div class="card-body align-text-bottom d-flex flex-column pb-0 text-center">
                    <p class="product-card-title">{{ featured_product_1.name }}</p>
                    <p class="product-price text-center">${{ featured_product_1.price }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-3">
            <div class="card border-0 product-card" style="max-height: 380px; min-height: 200px;">
                <div class="card-image" style="text-align: center;">
                    {% if featured_product_1.image %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ featured_product_2.image.url }}"
                        alt="HI">
                    {% else %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                    {% endif %}
                </div>
                <div class="card-body align-text-bottom d-flex flex-column pb-0 text-center">
                    <p class="product-card-title">{{ featured_product_2.name }}</p>
                    <p class="product-price text-center">${{ featured_product_2price }}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-3">
            <div class="card border-0 product-card" style="max-height: 380px; min-height: 200px;">
                <div class="card-image" style="text-align: center;">
                    {% if featured_product_1.image %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ featured_product_3.image.url }}"
                        alt="HI">
                    {% else %}
                    <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                    {% endif %}
                </div>
                <div class="card-body align-text-bottom d-flex flex-column pb-0 text-center">
                    <p class="product-card-title">{{ featured_product_3.name }}</p>
                    <p class="product-price text-center">${{ featured_product_3.price }}</p>
                </div>
            </div>
        </div>
</div>



{% endblock %}