{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row mx-3">
        <div class="sale-title col-12 d-flex justify-content-center text-white">
            {% if current_categories %}
            {% for category in current_categories %}
                <h3 class="active-breadcrumb title-text">{{ category.friendly_name }}</h3>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row mx-3">
        <div class="product-container">
            <div class="row "></div>
            <div class="row">
                {% for product in products %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-3">
                    <div class="card border-0 product-card" style="max-height: 380px; min-height: 270px;">
                        <div class="card-image" style="text-align: center;">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid"  style="height: 150px; width: auto;" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}
                        </div>
                        <div class="card-body align-text-bottom d-flex flex-column pb-0 text-center">
                            <p class="mt-auto">{{ product.name }}</p>
                            {% if request.user.is_superuser %}
                            <small class="ml-3 mt-auto">
                                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
        
        </div>     
    </div>
</div>


{% endblock %}